table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.2rem;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: grey;
  color: white;
}

tr:nth-child(even) {
  background-color: #4caf50;
}

tr:hover {
  background-color: #000;
}
